USE [Asssigment_P013_LeAnhNguyen]
GO
/****** Object:  Table [dbo].[foodTBL]    Script Date: 4/7/2021 10:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foodTBL](
	[id] [nchar](30) NOT NULL,
	[name] [nchar](50) NULL,
	[image] [nchar](1000) NULL,
	[descrip] [nchar](50) NULL,
	[price] [float] NULL,
	[createDate] [date] NULL,
	[category] [nchar](20) NULL,
	[status] [nchar](20) NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_foodTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[historyTBL]    Script Date: 4/7/2021 10:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historyTBL](
	[historyID] [nchar](50) NOT NULL,
	[name] [nchar](50) NULL,
	[action] [nchar](50) NULL,
	[date] [nchar](200) NULL,
	[status] [nchar](50) NULL,
	[foodID] [nchar](30) NULL,
 CONSTRAINT [PK_historyTBL_1] PRIMARY KEY CLUSTERED 
(
	[historyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[orderLineTBL]    Script Date: 4/7/2021 10:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderLineTBL](
	[OrderId] [int] NOT NULL,
	[id] [nchar](30) NOT NULL,
	[Quantity] [int] NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_OrderLineTBL] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[orderTBL]    Script Date: 4/7/2021 10:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderTBL](
	[OrderId] [int] NOT NULL,
	[userID] [nchar](10) NULL,
	[PaymentMethod] [nchar](30) NULL,
	[OrderDate] [date] NULL,
 CONSTRAINT [PK__OrderTBL__C3905BCFD9B0B748] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[userHistoryTBL]    Script Date: 4/7/2021 10:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userHistoryTBL](
	[nameFood] [nchar](30) NULL,
	[quantityFood] [int] NULL,
	[priceFood] [float] NULL,
	[currentDate] [nchar](200) NULL,
	[OrderId] [int] NOT NULL,
	[idHistory] [int] IDENTITY(1,1) NOT NULL,
	[nameUser] [nchar](10) NULL,
 CONSTRAINT [PK_userHistoryTBL] PRIMARY KEY CLUSTERED 
(
	[idHistory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[userTBL]    Script Date: 4/7/2021 10:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userTBL](
	[userID] [nchar](10) NOT NULL,
	[passwords] [nchar](50) NULL,
	[fullName] [nchar](50) NULL,
	[isSex] [bit] NULL,
	[isAdmin] [nchar](5) NULL,
 CONSTRAINT [PK_userTBL] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[historyTBL] ([historyID], [name], [action], [date], [status], [foodID]) VALUES (N'12111                                             ', N'SeaFood VietNam                                   ', N'Update                                            ', N'2021-01-19 19:21:11                                                                                                                                                                                     ', N'success                                           ', N'E009                          ')
INSERT [dbo].[historyTBL] ([historyID], [name], [action], [date], [status], [foodID]) VALUES (N'217090                                            ', N'Massama Curry                                     ', N'Delete                                            ', N'2021-01-19 22:19:51                                                                                                                                                                                     ', N'success                                           ', N'E014                          ')
INSERT [dbo].[historyTBL] ([historyID], [name], [action], [date], [status], [foodID]) VALUES (N'269917                                            ', N'Masala Cava                                       ', N'Delete                                            ', N'2021-01-19 19:20:23                                                                                                                                                                                     ', N'success                                           ', N'E007                          ')
INSERT [dbo].[orderLineTBL] ([OrderId], [id], [Quantity], [Price]) VALUES (821730, N'E010                          ', 1, 5)
INSERT [dbo].[orderLineTBL] ([OrderId], [id], [Quantity], [Price]) VALUES (821730, N'E014                          ', 1, 10)
INSERT [dbo].[orderTBL] ([OrderId], [userID], [PaymentMethod], [OrderDate]) VALUES (821730, N'nam       ', N'Cash                          ', CAST(N'2021-01-19' AS Date))
SET IDENTITY_INSERT [dbo].[userHistoryTBL] ON 

INSERT [dbo].[userHistoryTBL] ([nameFood], [quantityFood], [priceFood], [currentDate], [OrderId], [idHistory], [nameUser]) VALUES (N'Chicken Rice Hot              ', 1, 5, N'2021-01-19                                                                                                                                                                                              ', 821730, 66, N'nam       ')
INSERT [dbo].[userHistoryTBL] ([nameFood], [quantityFood], [priceFood], [currentDate], [OrderId], [idHistory], [nameUser]) VALUES (N'Massama Curry                 ', 1, 10, N'2021-01-19                                                                                                                                                                                              ', 821730, 67, N'nam       ')
SET IDENTITY_INSERT [dbo].[userHistoryTBL] OFF
INSERT [dbo].[userTBL] ([userID], [passwords], [fullName], [isSex], [isAdmin]) VALUES (N'admin     ', N'123                                               ', N'ADMIN                                             ', 0, N'true ')
INSERT [dbo].[userTBL] ([userID], [passwords], [fullName], [isSex], [isAdmin]) VALUES (N'Lê        ', N'123                                               ', N'Lê Anh Nguyên                                     ', 1, N'false')
INSERT [dbo].[userTBL] ([userID], [passwords], [fullName], [isSex], [isAdmin]) VALUES (N'Ly        ', N'123                                               ', N'Ly Nguyễn                                         ', 1, N'false')
ALTER TABLE [dbo].[historyTBL]  WITH CHECK ADD  CONSTRAINT [FK_historyTBL_foodTBL] FOREIGN KEY([foodID])
REFERENCES [dbo].[foodTBL] ([id])
GO
ALTER TABLE [dbo].[historyTBL] CHECK CONSTRAINT [FK_historyTBL_foodTBL]
GO
ALTER TABLE [dbo].[orderLineTBL]  WITH CHECK ADD  CONSTRAINT [FK_OrderLineTBL_foodTBL] FOREIGN KEY([id])
REFERENCES [dbo].[foodTBL] ([id])
GO
ALTER TABLE [dbo].[orderLineTBL] CHECK CONSTRAINT [FK_OrderLineTBL_foodTBL]
GO
ALTER TABLE [dbo].[orderLineTBL]  WITH CHECK ADD  CONSTRAINT [FK_OrderLineTBL_OrderTBL] FOREIGN KEY([OrderId])
REFERENCES [dbo].[orderTBL] ([OrderId])
GO
ALTER TABLE [dbo].[orderLineTBL] CHECK CONSTRAINT [FK_OrderLineTBL_OrderTBL]
GO
ALTER TABLE [dbo].[orderTBL]  WITH CHECK ADD  CONSTRAINT [FK_OrderTBL_userTBL] FOREIGN KEY([userID])
REFERENCES [dbo].[userTBL] ([userID])
GO
ALTER TABLE [dbo].[orderTBL] CHECK CONSTRAINT [FK_OrderTBL_userTBL]
GO
ALTER TABLE [dbo].[userHistoryTBL]  WITH CHECK ADD  CONSTRAINT [FK_userHistoryTBL_userTBL] FOREIGN KEY([nameUser])
REFERENCES [dbo].[userTBL] ([userID])
GO
ALTER TABLE [dbo].[userHistoryTBL] CHECK CONSTRAINT [FK_userHistoryTBL_userTBL]
GO
